# Configurações do serviço SFTP CaixaGIS

# Porta externa do SFTP
SFTP_PORT=2222

# Credenciais (para uso em aplicações que consumirão o serviço)
SFTP_HOST=localhost
SFTP_USER=caixagis
SFTP_PASSWORD=caixagis123
